# Produced files

build/bin
build/obj-*
build/prerequisites
build/tests

# IDE related files
nbproject
**.sublime-project
**.sublime-workspace
.idea

# Random Trash
*.swp
*.swo
*~
core
vgcore.*
**.orig
**.directory
**.patch
.tags*
cscope.*

# ctags and ID database
tags
ID

# Prerequisites
.prerequisites
third-party/STM32F3-Discovery_FW_V1.1.0
third-party/STM32F4-Discovery_FW_V1.1.0
third-party/nuttx
third-party/vera++
third-party/cppcheck

# targets
jerry_targetjs.h
targets/mbedk64f/libjerry
targets/mbedk64f/build
targets/mbedk64f/yotta_modules
targets/mbedk64f/yotta_targets
.output
targets/esp8266/output.map
targets/esp8266/libs
