# Produced files

out/

# IDE related files
nbproject
**.sublime-project
**.sublime-workspace

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Random Trash
*.swp
*~
js.files
js.fail.files
jerry.error
jerry.passed
core
vgcore.*
**.orig
**.directory
**.patch
.tags*
cscope.*

# ctags and ID database
tags
ID
