tests/jerry/es5.1/try-catch.js
tests/jerry/es5.1/regression-test-issue-3151-function.js

tests/jerry/fail/arguments-assignment-strict.js
tests/jerry/fail/arguments-catch-strict.js
tests/jerry/fail/arguments-in-prop-set-param-list-strict.js
tests/jerry/fail/arguments-in-var-decl-strict.js
tests/jerry/fail/arguments-param-strict.js
tests/jerry/fail/arguments-postfix-strict.js
tests/jerry/fail/arguments-prefix-strict.js
tests/jerry/fail/delete-strict.js
tests/jerry/fail/escape-sequences-invalid-hex.js
tests/jerry/fail/escape-sequences-invalid-unicode.js
tests/jerry/fail/escape-sequences-invalid-variable.js
tests/jerry/fail/eval-assignment-strict.js
tests/jerry/fail/eval-catch-strict.js
tests/jerry/fail/eval-in-prop-set-param-list-strict.js
tests/jerry/fail/eval-in-var-decl-strict.js
tests/jerry/fail/eval-param-strict.js
tests/jerry/fail/eval-postfix-strict.js
tests/jerry/fail/eval-prefix-strict.js
tests/jerry/fail/func-expr-strict.js
tests/jerry/fail/labelled-statements-break-across-function.js
tests/jerry/fail/labelled-statements-duplicate-label.js
tests/jerry/fail/labelled-statements-no-label.js
tests/jerry/fail/let-strict.js
tests/jerry/fail/octal-strict.js
tests/jerry/fail/param-duplication-strict.js
tests/jerry/fail/regression-test-issue-1549.js
tests/jerry/fail/regression-test-issue-1550.js
tests/jerry/fail/regression-test-issue-1598.js
tests/jerry/fail/regression-test-issue-1624.js
tests/jerry/fail/regression-test-issue-1831.js
tests/jerry/fail/regression-test-issue-1871-1.js
tests/jerry/fail/regression-test-issue-1871-2.js
tests/jerry/fail/regression-test-issue-1873.js
tests/jerry/fail/regression-test-issue-2039.js
tests/jerry/fail/regression-test-issue-2058.js
tests/jerry/fail/regression-test-issue-2094.js
tests/jerry/fail/regression-test-issue-2819.js
tests/jerry/fail/regression-test-issue-2846.js
tests/jerry/fail/regression-test-issue-2901.js
tests/jerry/fail/regression-test-issue-2908-1.js
tests/jerry/fail/regression-test-issue-2908-2.js
tests/jerry/fail/regression-test-issue-2908-3.js
tests/jerry/fail/regression-test-issue-2908-4.js
tests/jerry/fail/regression-test-issue-3094.js
tests/jerry/fail/regression-test-issue-3096.js
tests/jerry/fail/regression-test-issue-3117.js
tests/jerry/fail/regression-test-issue-3119.js
tests/jerry/fail/regression-test-issue-3131.js
tests/jerry/fail/regression-test-issue-3140.js
tests/jerry/fail/regression-test-issue-3145.js
tests/jerry/fail/regression-test-issue-3174.js
tests/jerry/fail/regression-test-issue-3214.js
tests/jerry/fail/regression-test-issue-3253-1.js
tests/jerry/fail/regression-test-issue-3253-2.js
tests/jerry/fail/regression-test-issue-3275.js
tests/jerry/fail/regression-test-issue-3276.js
tests/jerry/fail/regression-test-issue-3299.js
tests/jerry/fail/regression-test-issue-3398.js
tests/jerry/fail/regression-test-issue-3554.js
tests/jerry/fail/regression-test-issue-358.js
tests/jerry/fail/regression-test-issue-3714.js
tests/jerry/fail/regression-test-issue-3735.js
tests/jerry/fail/regression-test-issue-384.js
tests/jerry/fail/regression-test-issue-3882.js
tests/jerry/fail/with-strict.js

tests/jerry/fail/module-002.js
tests/jerry/fail/module-003.js
tests/jerry/fail/module-004.js
tests/jerry/fail/module-005.js
tests/jerry/fail/module-006.js
tests/jerry/fail/module-008.js
tests/jerry/fail/module-009.js
tests/jerry/fail/module-010.js
tests/jerry/fail/module-011.js
tests/jerry/fail/module-012.js
tests/jerry/fail/module-013.js
tests/jerry/fail/module-014.js
tests/jerry/fail/module-015.js
tests/jerry/fail/module-017.js
tests/jerry/fail/module-018.js
tests/jerry/fail/module-019.js
tests/jerry/fail/module-020.js
tests/jerry/fail/module-021.js
tests/jerry/fail/module-022.js
tests/jerry/fail/module-023.js
tests/jerry/fail/module-031.js
tests/jerry/fail/module-032.js
tests/jerry/fail/module-033.js
tests/jerry/fail/module-034.js
tests/jerry/fail/module-035.js
tests/jerry/es.next/module-export-01.js
tests/jerry/es.next/module-export-02.js
tests/jerry/es.next/module-export-03.js
tests/jerry/es.next/module-export-04.js
tests/jerry/es.next/module-export-05.js
tests/jerry/es.next/module-export-06.js
tests/jerry/es.next/module-export-07.js
tests/jerry/es.next/module-export-fail-test.js
tests/jerry/es.next/module-import-01.js
tests/jerry/es.next/module-import-02.js
tests/jerry/es.next/module-import-03.js
tests/jerry/es.next/module-import-04.js
tests/jerry/fail/module-001.js
tests/jerry/fail/module-007.js
tests/jerry/fail/module-024.js
tests/jerry/fail/module-025.js
tests/jerry/fail/module-026.js
tests/jerry/fail/module-027.js
tests/jerry/fail/module-028.js
tests/jerry/fail/module-030.js
tests/jerry/fail/regression-test-issue-2896.js

tests/jerry/regression-test-issue-3815.js
tests/jerry/es.next/regression-test-issue-2528.js
tests/jerry/es.next/regression-test-issue-2842.js
tests/jerry/es.next/regression-test-issue-3519.js
tests/jerry/es.next/regression-test-issue-3589.js
tests/jerry/es.next/regression-test-issue-3630.js
tests/jerry/es.next/regression-test-issue-3819.js
tests/jerry/es.next/regression-test-issue-3820.js
