<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ site.baseurl }}/"><b>JerryScript</b></a>
    </div>
    <div id="navbar" class="collapse navbar-collapse" style="position: relative;">
      <ul class="nav navbar-nav">
        {% if page.url == "/" %}
          <li class="active"><a href="{{ site.baseurl }}/">Home</a></li>
        {% else %}
          <li><a href="{{ site.baseurl }}/">Home</a></li>
        {% endif %}
        <li><a href="http://github.com/Samsung/jerryscript">View on Github</a></li>
        <li><a href="http://www.iotjs.net">Powering <b>IoT.js</b></a></li>
      </ul>
      <ul class="nav navbar-nav" style="position: absolute; right: 0px;">
        {% for p in site.pages %}
          {% if p.title %}
            {% if page.url == p.url %}
              <li class="active"><a href="{{ p.url | prepend: site.baseurl }}" >{{ p.title }}</a></li>
            {% else %}
              <li><a href="{{ p.url | prepend: site.baseurl }}" >{{ p.title }}</a></li>
            {% endif %}
            {% endif %}
        {% endfor %}
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
