<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="author" content="JerryScript">

  <title>JavaScript engine for Internet of Things{% if page.title %}: {{ page.title }} {% endif %}</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://samsung.github.io/jerryscript/css/bootstrap.min.css" >
  <link rel="stylesheet" href="https://samsung.github.io/jerryscript/css/table.css">
  <link rel="stylesheet" href="https://samsung.github.io/jerryscript/css/bytecode.css">
  <link rel="stylesheet" href="https://samsung.github.io/jerryscript/css/block.css">
  <link rel="stylesheet" href="https://samsung.github.io/jerryscript/css/main.css">
  <link rel="stylesheet" href="https://samsung.github.io/jerryscript/css/img.css">

  <script>
    window.addEventListener("hashchange", function() { scrollBy(0, -50) });
  </script>
</head>
